.table {
  display: flex;
  justify-content: center;
  width: max(44vw, 440px);
  flex-wrap: wrap;
}

.table table {
  margin-bottom: 5px;
}

.table td {
  width: max(4vw, 40px);
  max-width: max(4vw, 40px);
  min-width: max(4vw, 40px);
  height: max(4vw, 40px);
  min-height: max(4vw, 40px);
  max-height: max(4vw, 40px);
  border: 1px solid;
  border-collapse: collapse;
}

.suuzuBlock {
  width: max(3.8vw, 38px);
  min-width: max(3.8vw, 38px);
  max-width: max(3.8vw, 38px);
  height: max(3.8vw, 38px);
  min-height: max(3.8vw, 38px);
  max-height: max(3.8vw, 38px);
  margin: auto;
  box-shadow: 2px 2px 2px 0 rgba(128, 128, 128, 0.8);
  border: 1px solid;
  cursor: pointer;
}

.container {
  padding: 0 2vw;
}
