.table {
  display: flex;
  justify-content: center;
  width: max(44vw, 440px);
  flex-wrap: wrap;
}

.table table {
  margin-bottom: 5px;
}

.table td {
  width: max(4vw, 40px);
  max-width: max(4vw, 40px);
  min-width: max(4vw, 40px);
  height: max(4vw, 40px);
  min-height: max(4vw, 40px);
  max-height: max(4vw, 40px);
  border: 1px solid;
  border-collapse: collapse;
}

.table img {
  width: max(3.6vw, 36px);
  min-width: max(3.6vw, 36px);
  max-width: max(3.6vw, 36px);
  height: max(3.6vw, 36px);
  min-height: max(3.6vw, 36px);
  max-height: max(3.6vw, 36px);
  margin: auto;
  box-shadow: 2px 2px 2px 0 rgba(128, 128, 128, 0.8);
  border: 1px solid;
  cursor: pointer;
  transition: transform 0.3s; /* Add a transition for the transform property */
  transform-style: preserve-3d; /* This is required for the flip effect */
}

.container {
  padding: 0 2vw;
}

.flipped {
  transform: rotateY(180deg); /* Rotate the element around the Y-axis by 180 degrees */
}





