.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-menu-container {
  position: relative;
}

.popupMenu {
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transform-origin: top left;
  width: 80%;
  margin-top: 0.5rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  transition: transform 0.2s;
}

.popupMenuShown {
  position: absolute;
  z-index: 1000;
  transform: scale(1);
  transform-origin: top left;
  width: 80%;
  margin-top: 0.5rem;
  padding: 1rem;
  background: #333;
  border-radius: 0.5rem;
  transition: transform 0.2s;
}